<body>
<h2>
  Contact Us
</h2>

<h3>
  Ambient Sensors
</h3>

<p>
  <b>Phone #:</b> (208) 991-2762 <br/>
  <b>Email :</b> info@ambientsensors.com <br/>
  <b>Location:</b> <br/>
 </p>
<a md-fab routerLink=".">Link</a>


<iframe 
width="500" 
height="350" 
frameborder="0" 
style="border:0" allowfullscreen
src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11554.157303793458!2d-116.2235914!3d43.6161326!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x36540e0371cda4b4!2sAmbient+Sensors%2C+LLC!5e0!3m2!1sen!2sus!4v1505074382030">
</iframe> 
</body>