.example-card {
    width: 900px;
    
  }
  
  .example-header-image {
    background-image: url('Lora.png'); 
    background-size: cover;
  }

  .md-card-avatar{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        flex-shrink: 0;
  }
  div {
    display: block;
}

div[_ngcontent-c3] {
    display: block;
}