<md-card-title>LoRa Boise Area Sensors</md-card-title>

<md-card-content>

<br/>  
LoRa allows for a network of Low Power and Long Range devices. LoRa and the concept 
of the Internet of Things allows people to build smart networks of devices that gather a variety of 
data. Data is transfered securely to a database and can then be displayed for clients to see. 

<br/>
<br/>

An unlimited number of nodes may be deployed to create a mesh of sensors. The nodes need to be within 
10 km of a collector. Once in the field though, nodes may be powered by a simple battery and solar charger.
Sensors can even be made to track battery voltage to check when one is not charging as well.

<br/>
<br/>

This project is network for the Boise Area. We will be gathering weather data for the surrounding area.
</md-card-content>


<div *ngFor="let c of loracollection; let i=index">
  Book # {{i}} => {{c.title}}
</div>

<md-chip-list>
  <md-chip  *ngFor="let c of loracollection; let i=index" color="primary" selected="true">{{c.title}}</md-chip>
</md-chip-list>

<md-chip-list>
  <md-chip  *ngFor="let c of loracollection; let i=index" color="accent" selected="true">{{c.title}}</md-chip>
</md-chip-list>