<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar>
  <span style="color:white;font-weight:bold">
    
    Welcome to {{title}}!
  </span> 



 <button md-button [mdMenuTriggerFor]="conMenu">Connections</button>
  <md-menu #conMenu="mdMenu">
    <button md-menu-item routerLink="connections">Type</button>
    <button md-menu-item routerLink="connections">Statistics</button>
  </md-menu>

  <button md-button [mdMenuTriggerFor]="devMenu">Devices</button>
  <md-menu #devMenu="mdMenu">
    <button md-menu-item routerLink="devices">Type</button>
    <button md-menu-item routerLink="devices">Statistics</button>
  </md-menu>
</md-toolbar>

<router-outlet></router-outlet>
 <!--y<img align="right" width="300" src="https://www.thethingsindustries.com/static/main/images/LoRa.2cb9d981f848.png">

<img align="right" src=".\images\LoRaSigFox-logoscrop.jpg">-->
<img align="right" src="http://3.bp.blogspot.com/-D_OYbtoJ1Mo/VkJShtmxjtI/AAAAAAAAAg8/fT9PoR_lurA/s1600/Lora-logo.jpg">


