<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
</div>
<md-toolbar class="tabs">
  <button md-button routerLink="about">About</button>
  <button md-button routerLink="collections">Collections</button>
  <button md-button routerLink="deviceLocationMap">Map</button> 
  <button md-button routerLink="barChart">Bar Chart</button>
  <button md-button routerLink="contact-us"> Contact Us</button>
</md-toolbar>





<router-outlet></router-outlet>
<footer style="position: fixed; bottom: 0px; width: 100%; height: 60px; background-color:darkgrey;">
  Copyright information
</footer>