<!--The content below is only a placeholder and can be replaced.-->

<!--<app-navbar></app-navbar>
<div style="text-align:center">
</div>
<md-toolbar class="tabs">
  <button md-button routerLink="about">About</button>
  <button md-button routerLink="collections">Collections</button>
  <button md-button routerLink="deviceLocationMap">Map</button> 
  <button md-button routerLink="barChart">Bar Chart</button>
  <button md-button routerLink="contact-us"> Contact Us</button>
</md-toolbar> -->

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Lora-Ui</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="about">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="collections">Collections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="deviceLocationMap">Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="barChart">Bar Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact-us">Contact Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>




<router-outlet></router-outlet>
<footer style="position: fixed; bottom: 0px; width: 100%; height: 60px; background-color:darkgrey;">
  Copyright information
</footer>